/* Variables */

:root {

    --box-size: 150px;
    --text-weight: 300;
    --text-size: 80px;

    /* Colors */

    --black: #000;
    --background-light: #c9c4b8;
    --loading-bar-light: rgba(0,0,0,0.1);

    /* Other Ones */

    --letter-space: 8px;

    --initial-weight: 300;
    --initial-size: 110px;

}

/* Hiding the main site */

.site {
    opacity: 0;
    visibility: hidden;

    transition: opacity 1s ease-in-out;

    height: 0; /* Prevents scrolling during loading */
    overflow: hidden;
}

.site.visible {
    opacity: 1;

    visibility: visible;
    overflow: visible;

    height: auto;
}

/* Loading Screen Styling */

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    transition: opacity 0.8s ease, visibility 0.8s ease; /* Loading Page Visibility Time */
}

.loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.container {
    position: relative;
    width: var(--box-size);  
    height: var(--box-size);

    transform: scale(1.35);
    animation: shrink 0.6s cubic-bezier(.4,0,.2,1) forwards;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}

@keyframes containerShrink {
    to {
        transform: scale(1);
    }
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--box-size);
    height: var(--box-size);

    border: 3px solid var(--black);

    animation: boxExpand 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

/* Box Expand Animation (around the word) */

@keyframes boxExpand {
    0% {
        width: var(--box-size);
        height: var(--box-size);

        opacity: 1;
        left: 0;
    }

    100% {
        width: 600px;
        height: var(--box-size);

        opacity: 0;
        left: -225px;
    }
}

/* Text Wrapper Styling */

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); /* Centers the entire word block */

    display: flex;

    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

/* Starting Letter "N" */

.ghost {
    visibility: hidden;
}

.N {
    position: absolute; /* Sits directly on top of the 'N' in the text div */

    font-size: var(--text-size);
    font-weight: var(--text-weight);
    letter-spacing: var(--letter-space);

    z-index: 2;
    opacity: 1;

    color: var(--black);

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    animation: moveLeft 0.6s ease-in-out forwards;
    animation-delay: 1.2s;
    animation-fill-mode: both;

}


/* Animation (moving the letter "N" */

@keyframes moveLeft {

    0% {
        left: 50%;
        transform: translate(-50%, -50%) scale(1.35);

        opacity: 1;
    }

    100% {
        /* Move left by approx half the word width. 
           For 'NOUS', -1.6em is usually the sweet spot. */
        left: 0;
        transform: translate(0, -50%) scale(1);

        opacity: 1;
    }

}

/* Complete Text */

.text {
    display: flex;

    font-size: var(--text-size);
    font-weight: var(--text-weight);
    letter-spacing: var(--letter-space);

    color: var(--black);
}

.ghost {
    visibility: hidden;
}

.text span {
    display: inline-block;
    opacity: 0;
}

.text span:nth-child(1) { /* Hides the "N" */
    opacity: 0;
}

.text span:nth-child(2) { /* Calls animation for "O" */
    animation: appear 0.4s forwards;
    animation-delay: 1.5s
}
 
.text span:nth-child(3) { /* Calls animation for "U" */
    animation: appear 0.4s forwards;
    animation-delay: 1.7s
}

.text span:nth-child(4) { /* Calls animation for "S" */
    animation: appear 0.4s forwards;
    animation-delay: 1.9s
}

/* Animation */

@keyframes appear {

    to {
        opacity: 1;
    }

}

/* Loading Bar */

.loading-bar {
    position: absolute;

    bottom: 100px;
    left: 50%;
    width: 200px;
    height: 2px;

    transform: translateX(-50%);

    background: var(--loading-bar-light);

    overflow: hidden;
}

.loading-bar::after /* Invisible Element after the loading bar */ {
    content: '';

    position: absolute;

    left: -100%; /* Starts off screen */
    width: 100%;
    height: 100%;

    background: var(--black);

    animation: progress 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

/* Loading Bar Animation */

@keyframes progress {

            to {
                left: 100%;
            }

        }